html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  color: #3f1622;
}

h2, h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  color: #3f1622;
}

figcaption {
  font-family: none;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-family: "PT Serif", serif;
  font-weight: bold;
  line-height: 1.5;
}

nav ol {
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

p {
  font-family: none;
}

ul li {
  font-family: none;
}
